* {
    font-family: 'Cabin', sans-serif, Arial, Helvetica, sans-serif;
}

.banner-sandbox {
    background-color: chartreuse;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-sandbox p {
    margin: 10px;
    font-weight: bold;
}